<h3>Text für Wiedervorlage</h3>

<p>Der angegebene Text wird bei Wiedervoralge als Journal-Eintrag zur Dokumentation in das Ticket geschrieben.</p>
<p>Die Zeichenfolge '##' (ohne Anführungszeichen) wird durch den Namen des aktuellen Users ersetzt.</p>

