<h3>Feld für Fälligkeitsdatum-Regel</h3>

<p>Dieses benutzerdefinierte Feld sollte ein Text-Feld oder eine Drop-Down-Liste für 
ausgewählte <strong>Fälligkeitsdatum-Regeln</strong> zum Berechnen eines neuen 
Fälligkeitsdatums sein, das immer dann berechnet wird, wenn das aktuelle 
Fälligkeitsdatum in der Vergangenheit liegt.</p>

<p>Dieses Feld kann unkonfiguriert bleiben, um diese Funktion zu deaktivieren</p> 
