<h3>Text for resubmission</h3>

<p>The provided text is written as a journal-entry into the issue at resubmission.</p>
<p>The string '##' (without quotation marks) is replaced by the name of the current user.</p>
