<h3>Field for start date rule</h3>

<p>This custom field should be a text field or a drop-down list field for selected 
<strong>start date rules</strong> to calculate a new due date, which is calculated 
if the current start date is a past date</p>

<p>This field may be left unconfigured to deactivate this function</p>
