<h3>Feld für Startdatum-Regel</h3>

<p>Dieses benutzerdefinierte Feld sollte ein Text-Feld oder eine Drop-Down-Liste für 
ausgewählte <strong>Startdatum-Regeln</strong> zum Berechnen eines neuen 
Startdatums sein, das immer dann berechnet wird, wenn das aktuelle 
Startdatum in der Vergangenheit liegt.</p>

<p>Dieses feld kann unkonfiguriuert bleiben, um diese Funktion zu deaktivieren</p> 
